<div class="section-row">
  <div class="section-title">
    <h2>3 Comments</h2>
  </div>

  <div class="post-comments">
    <!-- comment -->
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="../../../assets/img/avatar.png" alt="">
      </div>
      <div class="media-body">
        <div class="media-heading">
          <h4>John Doe</h4>
          <span class="time">March 27, 2018 at 8:00 am</span>
          <a href="#" class="reply">Reply</a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.</p>

        <!-- comment -->
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="../../../assets/img/avatar.png" alt="">
          </div>
          <div class="media-body">
            <div class="media-heading">
              <h4>John Doe</h4>
              <span class="time">March 27, 2018 at 8:00 am</span>
              <a href="#" class="reply">Reply</a>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <!-- /comment -->
      </div>
    </div>
    <!-- /comment -->

    <!-- comment -->
    <div class="media">
      <div class="media-left">
        <img class="media-object" src="../../../assets/img/avatar.png" alt="">
      </div>
      <div class="media-body">
        <div class="media-heading">
          <h4>John Doe</h4>
          <span class="time">March 27, 2018 at 8:00 am</span>
          <a href="#" class="reply">Reply</a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat.</p>
      </div>
    </div>
    <!-- /comment -->
  </div>
</div>
<!-- reply -->
<div class="section-row">
  <div class="section-title">
    <h2>Leave a reply</h2>
    <p>your email address will not be published. required fields are marked *</p>
  </div>
  <form class="post-reply">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <span>Name *</span>
          <input class="input" type="text" name="name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <span>Email *</span>
          <input class="input" type="email" name="email">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <span>Website</span>
          <input class="input" type="text" name="website">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <textarea class="input" name="message" placeholder="Message"></textarea>
        </div>
        <button class="primary-button">Submit</button>
      </div>
    </div>
  </form>
</div>
<!-- /reply -->