<!-- container -->
<div class="container">
  <!-- row -->
  <div class="row">
    <!-- Post content -->
    <div class="col-md-8">
      <div class="section-row sticky-container">
        <app-container-post></app-container-post>

        <app-post-share></app-post-share>
      </div>
      <!-- author -->
      <app-autor-post></app-autor-post>
      <!-- /author -->

      <!-- comments -->
      <app-comentarios-post></app-comentarios-post>
      <!-- /comments -->
    </div>
    <!-- /Post content -->

    <!-- aside -->
    <div class="col-md-4">

      <!-- post mais lidos -->
      <app-mais-lidos></app-mais-lidos>
      <!-- /post mais lidos -->

      <!-- post destaques -->
      <app-posts-destaques></app-posts-destaques>
      <!-- /post destaques -->

      <!-- catagories -->
      <app-categorias-lateral></app-categorias-lateral>
      <!-- /catagories -->

      <!-- tags -->
      <app-tags-post></app-tags-post>
      <!-- /tags -->

      <!-- archive -->
      <!-- <div class="aside-widget">
        <div class="section-title">
          <h2>Archive</h2>
        </div>
        <div class="archive-widget">
          <ul>
            <li><a href="#">January 2018</a></li>
            <li><a href="#">Febuary 2018</a></li>
            <li><a href="#">March 2018</a></li>
          </ul>
        </div>
      </div> -->
      <!-- /archive -->
    </div>
    <!-- /aside -->
  </div>
  <!-- /row -->
</div>