<!-- Header -->
<app-nav-header></app-nav-header>
<!-- /Header -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- posts principais -->
        <app-post-destaque></app-post-destaque>
        <!-- /posts principais -->

        <!-- posts Recentes -->
        <app-posts-recentes></app-posts-recentes>
        <!-- /posts Recentes  -->

        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <!-- posts -->
                <app-posts></app-posts>
                <!--/posts -->
            </div>

            <div class="col-md-4">
                <!-- post mais lidos -->
                <app-mais-lidos></app-mais-lidos>
                <!-- /post mais lidos -->

                <!-- post destaques -->
                <app-posts-destaques></app-posts-destaques>
                <!-- /post destaques -->

                <!-- ad -->
                <!-- <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="../../../assets/img/ad-1.jpg" alt="">
                    </a>
                </div> -->
                <!-- /ad -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->


<!-- Footer -->
<app-footer></app-footer>
<!-- /Footer -->